@{
    ViewBag.Title = "Email Confirmation Required";
}

<main aria-labelledby="title">
    <h2 id="title">Email Confirmation Required</h2>
    <p>Дякуємо за реєстрацію! Будь ласка, перевірте свою електронну пошту та підтвердіть свій акаунт, перш ніж увійти.</p>
</main>
