@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="pageTitle">
        <p class="lead">Simplify your life and boost your productivity with our powerful Taskify app!</p>
        <p><a href="/Account/Register" class="btn btn-primary btn-md">Sign up and discover features! &raquo;</a></p>
    </section>
    <section id="features" class="row">
        <div class="col-md-12">
            <h2>Task Management Made Easy</h2>
            <p>Effortlessly create, organize, and mark tasks to keep track of your daily responsibilities.</p>
        </div>
        <div class="col-md-12">
            <h2>Stay Focused and Organized</h2>
            <p>Efficiently manage your tasks, categorize them, and track progress to achieve your goals effectively.</p>
        </div>
        <div class="col-md-12">
            <h2>Start Organizing Today</h2>
            <p>Take control of your tasks and increase your productivity.</p>
        </div>
        <div class="col-md-12">
            <h2>Simplify Your Life with a Digital Planner</h2>
            <p>Say goodbye to paper clutter and embrace the convenience of a digital todo list. This tool helps you streamline your daily tasks and schedules, bringing simplicity and order to your life.</p>
        </div>
        <div class="col-md-12">
            <h2>Achieve Your Goals</h2>
            <p>Turn your dreams into actionable steps with this goal-oriented todo list. Set track progress and celebrate achievements as you make steady progress towards your aspirations.</p>
        </div>
    </section>
</main>



